/*Colors*/
/*Fountaint Blue --> #58ABB7*/
/*Catskill White --> #f1f5f8*/
/*White          --> #ffffff*/

/*alerts*/
/*Cabaret        --> #D55271*/
/*bittersweet    --> #ff7070*/

/*highlight*/
/*Geyser          --> #D2DAE1*/
/*River bed       --> #4C5867*/

/*****************************************************/
/* SETCOLOR is the class to set the color of the app */
/*****************************************************/
nav,
.btn-config,
.btn-save,
.btn-finish,
.btn-refresh,
.btn-back,
.btn-clear-cart,
.btn-recover,
.btn-done,
.btn-filter,
.btn-back,
.btn-add-continue,
.btn-add-finish,
.btn-clear-cart,
.btn-recover,
.btn-done,
.opt{
	background-color: #000066;
}
.bg-color1{
	background-color: #000066;
}
.segment{
	background-color: #000066;
}
.dropdown-menu li:active,.dropdown-menu li:focus{
	background-color: #000066;
}

.color1,.filter,
.messageUser p,
.itemName{
	color: #000066;
}
.messageUser p{
	opacity: 0.5;
	color: #ffffff;
}
.items .menu-item:active{
	color: #000066;
}
.price{
	color: #000066;
}
.float-right label,
.float-right span{
	color: #000066;
}
.menu-item:before,
.sku-item:before{
	border-color: #000066;
}
.loader-principal,.loader-section {
  border-color: #000066;
}
.menu-item.selected:before{
	border-right-color: #000066;
	border-bottom-color: #000066;
}


.btn, .appName, nav label,
.btn:hover,
.copyright{
	color: #ffffff;
}
.custom-classname,.eac-cval,.eac-input-wrap{
  color: #ccc;
}
input{
	color: #384554;
	border-color: #d2dae1;
	box-shadow: inset 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
input[type=radio]:not(:checked)+label:before {
  border-color: #ffffff;
}
input[type=radio]:checked+label:after {
  border-color: #ffffff;
  background-color: #ffffff;
}
.msg-txt:before {
  border-right-color: #ffffff;
}
section{
	/*FJ*/
	/*background-color: #f1f5f8;*/
}

/*FJ*/
.row-conf {
	background-color: #f1f5f8;	
}
/*FJ*/

section.logoSection,section.optionsSection{
	background-color: transparent;
}
aside{
	background-color: #f1f5f8;

	/*FJ*/
	/*background-image: url(http://retailcs.com/3orless/PublicImages/Logo/logo-t.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom left;
	opacity: 0.9;*/
	/*FJ*/
}

/*FJ*/
aside .img-logo-business {
	display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    opacity: 0.9;
}
/*FJ*/

main,
.logoApp{
	background-color: #ffffff;
}
.btn:active,.btn:focus{
	color: #f1f5f8;
}
.btn:active:after,.btn:focus:after{
	background: rgba(255,255,255,0.2);
}
.bg-color2{
	background-color: #ff7070;
}
.border-color2{
	border: 2px solid #ff7070;
}
.color2{
	color: #ff7070;
}
.color3,.txtBrand{
	color: #60afba;
}
.borderc3{
	border-color: #60afba;
}
.icon{
	color: #ffffff;
}
.ico-keyboard{
	color: #ffffff;
}
.danger{
	border-color: #D55271;
	color: #D55271;
}
.success{
	border-color: #60afba;
	color: #60afba;
}
.no-complete{
	color: #f00;
}
.msg-image,.sort-area{
	background-color: #f1f5f8;
}
.msg-txt, .general-menu, .filter, div[class^="product"]{
	background-color: #ffffff;
	border-color: #d6dadd;
	box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
.itemName{
	background-color: #ffffff;
	border-right-color: #D2DAE1;
	border-top-color: #D2DAE1;
	border-left-color: #D2DAE1;
	border-bottom-color: transparent;
}
.ancestor:last-child .itemName:not(.expand){
	border-bottom-color: #D2DAE1;
}
.items .menu-item,
.items .sku-item{
	background-color: #f1f5f8;
	border-bottom-color: #ffffff;
	color: #4C5867;
}
.menu-item.selected:after{
	background-color: transparent;
	border-right-color: #4C5867;
	border-bottom-color: #4C5867;
}
.filter:before{
	color: #ff7070;
}
.areaStyle div,.brand{
	color: #627080;
}

.float-right .dropdown .btn{
	color: #4c5867;
}
.dropdown-menu li:active,.dropdown-menu li:focus{
	color: #ffffff;
}
.dropdown .btn {
	border-color: #d2dae1;
	background-color: #ffffff;
	box-shadow: inset 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
.dropdown-menu,.productDetail{
	border-color: #d2dae1;
	box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
.dropdown .btn:before{
	background-color: #d2dae1;
}
.dropdown .btn:after{
	color: #ffffff;
}
.dropdown .btn:after{
	color: #ffffff;
}
.notfound{
	color: #4c5867;
}
.swiper-pagination-bullet {
  color: #418f9a;
  background: #ffffff;
  border: 1px solid #d2dae1;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #ff7070;
}
footer{
	background-color: #2c2e3a;
}
.options .btn{
	background-color: #4c5867;
}

.item-count{
	background-color: #ff7070;
}
.item-count:after{
	border-top-color: #ff7070 !important;
}
.sort-dropdown,.sort-dropdown:active,.sort-dropdown:focus,
.size-dropdown,.size-dropdown:active,.size-dropdown:focus{
	color: #333;
}
.btn-clear,.btn-clear:focus, .btn-clear:active{
	background-color: transparent;
	color: #418f9a;
}
.section-form-user,
.section-cart-items{
	background-color: #e7ebef;
}
.flex-central,
.flex-lower{
	background-color: #ffffff;
}
.form-user{
	background-color: #ffffff;

	/*FJ*/
	border-color: #d2dae1;
    border: 1px solid #d2dae1;
    border-radius: 4px;
    padding: 15px 0px;
    /*FJ*/
}
.form-control-feedback{
	color: #ccc;
}


.form-control.user{
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}
.cart-items{
	border-color: #d2dae1;
}
.items .price{
	color: #384554;
}
label span{
	color: #ff7070;
}
.btn-trash{
	color: #ff7070;
	width: 24px;
}
.thead h3, .content-products h3{	
	color: #418f9a;
}
.cart-items .thead{
	background-color: #f1f5f8;
}
.form-user h2{
	color: #4c5867;
}
.row.product,
.row.store{
	background-color: #ffffff;
	border-top-color: #D2DAE1;
}
.product.selected{
	background-color: #d2dae1 !important;
}
.section-product-detail{
	background-color: #ffffff;
}
del{
	color: #99a3b0;
}
.mainImg,.views{
	border-top-color: #D2DAE1;
	border-bottom-color: #D2DAE1;
	box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
.mainImg{
	border-left-color: #D2DAE1;
}
.views{
	border-right-color: #D2DAE1;
}
.dropdown .btn {
	color: #333;
}
.opt{
	color: #ffffff;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #ffffff;
}
.opt:hover,.opt:active{
	color: #ffffff;
}
/*search*/
.swiper-slide {
  background: #fff;
}
/*index*/
.home .paths a {
	background:#333;
}
.btn-config:hover,.btn-config:focus{
	color: #ffffff !important;
}
/*registration*/
.modal-body{
	background-color: #e7ebef;
}
.modal-content{
	background-color: #f1f5f8;
	box-shadow: none;
	border: none;
}
.modal-backdrop.in {
    opacity: .3;
    filter: alpha(opacity=30);
}
.flex-sections .actions .actions-body, .flex-sections .totalBalance .totalBalance-body,
.keypad ul{
	background-color: #ffffff;
}
.placeholder {
	color: #999;
}
/*loader*/
.loader-results,.loader{
  background-color: #ffffff;
}
/*config*/
.checkbox-control .checkbox{
	background-color: #d2dae1;
}
.checkbox-control .checkbox div{
	background-color: #ffffff;
}
.btn-items,.btn-items:focus, .btn-items:active,
#items button{
	background-color: #2d434e !important;
	border-color: #2d434e !important;
	color: white !important;
}
.btn-transaction,.btn-transaction:focus, .btn-transaction:active,
#transaction button{
	background-color: #e78d0e !important;
	border-color: #e78d0e !important;
	color: white !important;
}
.btn-promotions,.btn-promotions:focus, .btn-promotions:active,
#promotions button{
	background-color: #ee4e4e !important;
	border-color: #ee4e4e !important;
	color: white !important;
}

.payment-section button,
.payment-method-buttons button{
	background-color: #2d434e ;
	border-color: #2d434e;
	color: white;
}
.btn-payment{
	background-color: #81b43c !important;
	border-color: #81b43c !important;
	color: white !important;
}
.radio-control input[type=radio]:checked+label:after{
    border-color: #000066;
    background-color: #000066;
}
.radio-control input[type=radio]:not(:checked)+label:before{
	border-color: #000066;
}
.btnCancel{
	background-color: #ff7070;
}
.btnCompleteSale{
	background-color: #81b43c;
}
.payment-buttons li button{
	background-color: #33658A;
	border-color: #33658A !important;
	color: white !important;
}
.right-options button{
	background-color: transparent;
	color: #ffffff;
}
.right-options button:active,
.right-options button:focus{
	background-color: rgba(255,255,255,0.2);
}

.items:before,
.items:after{
	color: #2d434e;
}

.customer-nav li.active .btn-flex,
.customer-nav li.active .btn-flex:hover,
.customer-nav li.active .btn-flex:focus{
	color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4;
}

.customer-nav .dropdown-menu .item button:before{
	background-color: transparent;
}

a.btn-flex{
    background-color: #d2dae1;
    color: #2d434e;
}
.dropdown.justique .btn:not(.sort-dropdown){
	box-shadow: inset 0 2px 0 0 rgba(98, 112, 128, 0.1);
}