.settings-1, .areaSave{
	height: 162px;
}
.settings-2, .areaFinish{
	height: 300px;
}
.iconConfig{
	height: 162px;
    padding: 38px 25px 38px 0;
}
.iconPass{
	height: 300px;
	padding: 107px 25px 107px 0;
}

.settings-1, .settings-2{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.settings-2{
	animation-delay: 0.5s;
}