/*Source Sans Pro font*/
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Semibold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.ttf');
    font-weight: 600;
}

/*Roboto condensed font*/
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Scalia';
    src: url('../fonts/scalia-icons.ttf');
}

@font-face {
    font-family: 'Scalia User Icons';
    src: url('../fonts/scalia-user-icons.ttf');
}


*,div,span,h1,h2,h3,h4,input,textarea,label{
	font-family: 'Source Sans Pro';
}
h1,h2,h3,h4{
	font-family: 'Roboto Condensed';
}
body,html{
	height: 100%;
  font-size: 12px;
}
p,span,label,.ancestor,.dropdown-menu li{
	font-size: 19px;
}
del{
  font-weight: 300;
}
button,.btn,.menu-item{
	font-size: 18px;
}
/*disable user select*/
div,p,a,label,button,select,option{
  -webkit-user-select: none;
  user-select: none
}
.container{
	width: 100%;
	height: 100%;
}
ul { 
  margin: 0; 
  padding: 0;}
li{
  list-style: none;
  margin: 0;
}
nav li label{
  font-weight: 400;
}
.btn{
  position: relative;
	font-family: 'Roboto Condensed';
	border-radius: 4px;
	padding: 10px 15px 10px 35px;
	text-transform: uppercase;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.btn:active,.btn:focus{
  box-shadow: none !important;
  outline: none !important;
  border: none;
}
.btn:active:after,.btn:focus:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn-mini-img{
  padding: 0px;
}
.btn-save:before{
  content: '\e601';
  font-family: 'Scalia';
  font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}
.btn-finish:before{
	content: '\e6d8';
	font-family: 'Scalia User Icons';
	font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}
.btnCancel:before{
  content: '\e796';
  font-family: 'Scalia User Icons';
  font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}
.btnCompleteSale:before{
  content: '\e6f2';
  font-family: 'Scalia User Icons';
  font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}
.btn-img{
	position: relative;
  width: 86px;
  height: 86px;
  line-height: 82px; 
	border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}
.btn-img span{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 44px;
	font-family: 'Scalia User Icons';
}
.btn-setcolor{
    font-family: 'Scalia' !important;
    font-weight: normal;
    background-color: transparent;
    border: none;
    outline: none;
}
.btn-cart{
    font-family: 'Scalia User Icons' !important;
    font-weight: normal;
}
.btn-scan{
  /*background-image: url('../img/catalog/icon-scan.svg');*/
  /*background-size: 50%;*/
  background-repeat: no-repeat;
  /*background-position: center;*/
  
  /*FJ*/
  background-size: 25px;
  background-position: 20px 10px;
  font-size: 280% !important;
}
.form-group {
    margin-bottom: 5px;
}
.form-group label{
	margin-bottom: 0;
	font-weight: 400;
}
input.form-control{
	padding: 0 10px;
    height: 34px;
    line-height: 32px;
    font-family: 'Source Sans Pro' !important;
    font-weight: 100;
    font-size: 22px;
}
.form-color{
  display: inline;
  width: 100px;
  margin-top: -5%;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.area{
	width: 100%;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}
.areaIcon{
	width: 100%;
	text-align: right;
	display: table;
	margin: 0;	
}
.form-group{
	position: relative;
}
span.no-complete{
	position: absolute;
	bottom: -28%;
	font-size: 98%;
}

/*dropdown*/
.dropdown .btn {
  position: relative;
  text-transform: inherit;
  border-width: 1px;
  border-style: solid; 
  min-width: 80px;
  height: 34px;
  padding: 6px 48px 6px 5px;
  font-family: 'Source Sans Pro';
  font-size: 125%
}
.dropdown .btn:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown .btn:active:after{
  width: initial;
  height: initial;
  left: auto;
  top: auto;
  background-color: transparent;
}
.dropdown .btn:after{
  content: '\e602';
  position: absolute;
  font-family: 'Scalia';
  right: 8px;
}
.dropdown.justique .btn{
  width: 100%;
  padding: 12px 48px 12px 5px;
  height: 47px;
}
.dropdown.justique .btn:not(.sort-dropdown){
  font-size: 100%;
  border:none;
  text-align: left; 
  padding: 12px 48px 12px 15px;
}
.btn.dropdown-toggle.sort-dropdown {
    font-size: 140%;
}
.dropdown li.item .btn:before{
  top: inherit;
}

/*icons*/
button.icon{
  width: auto;
  line-height: inherit;
}
button.icon:before {
  padding-right: 4px;
  padding-left: 10px;
}
.icon-clock:before{
  content: '\e77a' !important;
  font-family: 'Scalia User Icons';
}
.icon-settings:before{
  content: '\e776' !important;
  font-family: 'Scalia User Icons';
}
.icon-search:before{
  content: '\e766' !important;
  font-family: 'Scalia User Icons';
}
.icon-new:before{
  content: '\e631' !important;
  font-family: 'Scalia User Icons';
}
.icon-edit:before{
  content: '\e790' !important;
  font-family: 'Scalia User Icons';
}
.icon-remove:before{
  content: '\e630' !important;
  font-family: 'Scalia User Icons';
}
.icon-history:before{
  content: '\e691' !important;
  font-family: 'Scalia User Icons';
}
.icon-storename:before{
  content: '\e6D1' !important;
  font-family: 'Scalia User Icons';
}
.icon-systemdate:before{
  content: '\e6ef' !important;
  font-family: 'Scalia User Icons';
}
.icon-workstation:before{
  content: '\e685' !important;
  font-family: 'Scalia User Icons';
}
.icon-cashiername:before{
  content: '\e6C7' !important;
  font-family: 'Scalia User Icons';
}
/*nav*/
.appName{
  /*height: 90%;*/
  font-family: 'Roboto Condensed';
  font-weight: 100; 
  font-size: 165%;
  padding: 12px 0px;
  text-transform: uppercase;

  /*FJ*/
  padding: 16px 0px;
  margin: 0px;
  vertical-align: top;

}
.left-options{
  float: left;
}
.left-options label{
  font-family: 'Roboto Condensed';
  font-weight: 100; 
  font-size: 165%;
  padding: 12px 0px;
  text-transform: uppercase;

  padding: 16px 6px 16px 0px;
  margin: 0px;
  vertical-align: top;
}
.right-options{
  float: right;
}
.right-options li{
  display: inline-block;
  height: 100%;
}
.right-options button{
  font-family: 'Roboto Condensed';
  font-weight: 100;
  font-size: 165%;
  text-transform: uppercase;
  padding: 15px 15px 15px 0px;
  margin: 0px;
  vertical-align: top;
  border: none;
  outline: none;
  -webkit-transition: all 0.1s
  transition: all 0.1s;
}

.bigger{
  font-size: 240% !important;
}
/*FJ*/
.right-options .span-total {
  color: white;
  font-family: 'Roboto Condensed' !important;
  font-size: 15px;
  display: block;
  padding: 0px 15px 0px 5px !important;
  text-align: center;
}

.right-options .li-total {
  padding-top: 9px;
}
.nav-tabs{
  border:none;
}
/*FJ*/

.icon{
  width: 54px;
  display: inline-block;
  text-align: center;
  font-family: 'Scalia User Icons';
  line-height: 54px;
  /*font-size: 195%;*/
  position: relative;

  /*FJ*/
  line-height: 50px;
  font-size: 205%;
}
.btn-cart{
  /*margin-top: 3px;*/
  /*FJ*/
}
.icon.btn-home{
  /*line-height: 54px;*/
  /*FJ*/
  line-height: 60px;
  display: inline-block;
}
.item-count{
  position: absolute;
  left: 54%;
  width: 22px;
  height: 14px;
  margin-left: -13px;
  border-radius: 4px 4px 0 0;
  top: 58%;
  margin-top: -35px;
  font-size: 64%;
  text-align: center;
  padding-bottom: 3px;
  line-height: 16px;
}
.item-count:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px 11px;
  border-style: solid;
  border-color: transparent;
  top: 14px;
  left: 0;
}


/*/radio button*/
input[type=radio]:checked, input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=radio]:checked+label, input[type=radio]:not(:checked)+label {
  position: relative;
  height: 25px;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}
input[type=radio]+label:after, input[type=radio]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}
input[type=checkbox]+label, input[type=radio]:checked+label, input[type=radio]:not(:checked)+label {
  padding-left: 30px;
  padding-right: 20px;
  display: inline-block;
  line-height: 25px;
  -khtml-user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
}
input[type=radio]:not(:checked)+label:before {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}
input[type=radio]:checked+label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
input[type=radio]:checked+label:after {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  z-index: 0;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

footer {
    position: relative;
    z-index: 10;
    /*FJ*/
    padding: 7px 9px;
}

/*alerts*/
.msg-image{
  float: left;
}
.msg-image span{
  font-family: 'Scalia User Icons';
  font-size: 32px;
  text-align: center;
}
.borderc3{
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  line-height: 60px; 
}

.validations{	
  margin: 0px; 
  padding: 25px; 
  position: absolute;
  z-index: 999;
  top: 29px;  
  left: 15px;
  
}
.validations p{
	font-size: 120%;	
}
.msg-txt {
  margin-left: 80px;
  padding: 22px;
  position: relative;
  overflow: visible;
  border-width: 1px;
  border-style: solid;  
  border-radius: 2px;
}
.msg-txt:after, .msg-txt:before{
  content: '';
  position: absolute;
  top: 24px;
  left: -25px;
  border: 15px solid transparent;
}
.msg-txt:before {
  border-style: solid;
  border-width: 20px;
}
.msg-txt:after {
  top: 50%;
  margin-top: -20px;
}

    

/*Loader*/
.loader-principal,.loader-section {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  height: 100px;
  width: 100px;
  margin: auto;  
  font-size: 0;
  line-height: 0;
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,-45deg);
  transform: translate3d(0,0,0) rotate3d(0,0,-45deg);
  -webkit-animation: rotate-loader 5s infinite;
  animation: rotate-loader 5s infinite;
}
.loader-results,.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  opacity: 0.9;  
}
.loader-results:not(.hide),.loader:not(.hide){
  -webkit-animation: fade-loader 0.5s forwards;
  animation: fade-loader 0.5s forwards;
}
.segment-holder {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.segment {
  position: absolute;
}

.one {
  bottom: 0;
  height: 0;
  width: 100%;
  -webkit-animation: slide-one 1s infinite;
  animation: slide-one 1s infinite;
}

.two {
  left: 0;
  height: 100%;
  width: 0;
  -webkit-animation: slide-two 1s infinite;
  -webkit-animation-delay: 0.25s;
  animation: slide-two 1s infinite;
  animation-delay: 0.25s;
}

.three {
  right: 0;
  height: 100%;
  width: 0;
  -webkit-animation: slide-two 1s infinite;
  -webkit-animation-delay: 0.75s;
  animation: slide-two 1s infinite;
  animation-delay: 0.75s;
}

.four {
  top: 0;
  height: 0;
  width: 100%;
  -webkit-animation: slide-one 1s infinite;
  -webkit-animation-delay: 0.5s;
  animation: slide-one 1s infinite;
  animation-delay: 0.5s;
}
@-webkit-keyframes fade-loader {
  0%    { opacity: 0; }
  100%  { opacity: 1;}
}
@-webkit-keyframes slide-one {
  0%    { height: 0;    opacity: 1; }
  12.5% { height: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { height: 100%; opacity: 0;}
}
@-webkit-keyframes slide-two {
  0%    { width: 0;    opacity: 1; }
  12% { width: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { width: 100%; opacity: 0;}
}
@-webkit-keyframes rotate-loader {
  0%   { -webkit-transform: rotateZ(-45deg); }
  20%  { -webkit-transform: rotateZ(-45deg); }
  25%  { -webkit-transform: rotateZ(-135deg); }
  45%  { -webkit-transform: rotateZ(-135deg); }
  50%  { -webkit-transform: rotateZ(-225deg); }
  70%  { -webkit-transform: rotateZ(-225deg); }
  75%  { -webkit-transform: rotateZ(-315deg); }
  95%  { -webkit-transform: rotateZ(-315deg); }
  100% { -webkit-transform: rotateZ(-405deg); }
}
@-webkit-keyframes come-border {
  0%   { -webkit-transform: scale3d(0,0,10); opacity: 0;}
  100% { -webkit-transform: scale3d(0,0,1); opacity: 1;}
}

@keyframes fade-loader {
  0%    { opacity: 0; }
  100%  { opacity: 1;}
}
@keyframes slide-one {
  0%    { height: 0;    opacity: 1; }
  12.5% { height: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { height: 100%; opacity: 0;}
}
@keyframes slide-two {
  0%    { width: 0;    opacity: 1; }
  12% { width: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { width: 100%; opacity: 0;}
}
@keyframes rotate-loader {
  0%   { transform: rotateZ(-45deg); }
  20%  { transform: rotateZ(-45deg); }
  25%  { transform: rotateZ(-135deg); }
  45%  { transform: rotateZ(-135deg); }
  50%  { transform: rotateZ(-225deg); }
  70%  { transform: rotateZ(-225deg); }
  75%  { transform: rotateZ(-315deg); }
  95%  { transform: rotateZ(-315deg); }
  100% { transform: rotateZ(-405deg); }
}
@keyframes come-border {
  0%   { transform: scale3d(0,0,10); opacity: 0;}
  100% { transform: scale3d(0,0,1); opacity: 1;}
}

.rotate-icon{
  -webkit-animation: rotate-icon 2s ease infinite;
  -webkit-animation-delay: 2s;
  animation: rotate-icon 2s ease infinite;
  animation-delay: 2s;
}

@-webkit-keyframes rotate-icon{
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}
@keyframes rotate-icon{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

.custom-classname,.eac-cval,.eac-input-wrap{
  font-family: 'Source Sans Pro';
  font-size: 100%;
  display: block !important; 
}

.swiper-wrapper{
  height: initial !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  opacity: 0.35 !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0 !important;
}


@media only screen and (min-width: 1280px) {
    body {
        font-size: 14px;
    }
    button.btn:before{
      font-size: 100%;
      margin-left: -1.2em; 
    }
    p, span, label, .ancestor, .dropdown-menu li{
      font-size: 20px;
    }
    .icon{
      font-size: 200%;
    }
    .btn-cart{
      margin-top: 5px;
    }
    .item-count {
      left: 55%;
      width: 25px;
      height: 15px;
      top: 59%;
      font-size: 50%;
    }
    .item-count:after {
      border-width: 5px 13px;
      top: 15px;
    }
}

@media only screen and (min-width: 1360px) {
    body {
        font-size: 15px;
    }
    button, .btn, .menu-item{
      font-size: 22px;
    }
    button.btn:before{
      font-size: 104%;
      margin-left: -1.1em; 
    }
    p, span, label, .ancestor, .dropdown-menu li{
      font-size: 22px;
    }
    .icon{
      font-size: 200%;
    }
    input.form-control{
      height: 44px;
      line-height: 44px;
    }
    h3, .h3{
      font-size: 26px;
    }
    .btn-cart{
      margin-top: 8px;
    }
    .item-count {
      left: 48%;
      width: 26px;
      height: 16px;
      top: 58%;
      font-size: 55%;
    }
    .item-count:after {
      border-width: 6px 13px;
      top: 15px;
    }
    .ico-keyboard{
      right: 35px;
      font-size: 113%;
    }
}