/* layout */
.home {
	position:fixed;
	top:0%;
	left:0%;
	z-index:1;
	width:100%;
	height:100%;
	margin:0;
	background-color: black;
}

.background {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	background:url(../img/home/bg.png) no-repeat center;
	background-size: cover;
}

.home .gallery,
.home .gallery .inside {
	position:absolute;
	top:0;
	left:0;
}

.home .gallery {
	width:100%;
	height:100%;
	overflow:hidden;
}

.home .gallery .inside {
	z-index:1;
}


.home .item {
	position:absolute;
	top:0;
	width:1000px;
	height:400px;
}

.home .item div {
	position:absolute;
	left:0;
	width:100%;
	height:100%;
}

.home .item div img {
	position:absolute;
	top:0;
	left:0%;
	margin:0px;
}

.home .paths {

	display: none !important;

	position:absolute;
	bottom:60px;
	left:50%;
	margin-left:-30px;
	z-index:4;
}

.home .paths div {
	position:absolute;
	top:0;
}

.home .paths a {
	display:block;
	position:absolute;
	left:0;
	outline:none;
}

/*unlock block*/
.unlock{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.btn-float{
	float: right;
	overflow: hidden;
	padding-right: 15px;
	padding-bottom: 15px;
}

.btn-float-top{
	position: absolute;
	overflow: hidden;
	z-index: 10;
	top: 15px;
	right: 15px;
}

.settingsForm{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 0 35px;
}
.settingsForm label{
	color: white;
}

.btnDone:before{
	content: '\e6e0';
	font-family: 'Scalia User Icons';
	font-weight: normal;
    float: left;
    margin-left: -1.4em;
    font-size: 82.6%;
    vertical-align: middle;
}

.btn.btnDone {
    margin-top: 15px;
}

.messageUser {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    margin: auto;
    text-align: center;
    width: 36%;
    display: inline-block;
}