body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
nav{
	/*FJ*/
	/*height: 54px;*/
	background-color: #58abb7;
	z-index: 999;
}

section {
    display: flex;
    width: 100%;
}

article {
	min-width: 480px;
	width: 100%;
	margin: 5px;
}


/*form*/
.form-user{
	padding: 10px 0px 0px !important;
}
form{
	padding: 0 15px;
	max-width: 480px;
	margin: 0 auto;
}

/*FJ*/
.section-principal {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	flex-grow: 6;
}
/*FJ*/

.form-control{
	height: 44px;
}

/* INICIO FJ*/

.info-pos {
    float: right;
    padding: 0 25px;
}
.info-pos label{
	font-size: 130%;
	padding: 4px 5px 2px;
}


.section-cart-items .cart-opciones {
	position: relative;
	display: flex;
	flex-direction: column;
	/*border-radius: 4px;
	border: 1px solid #d2dae1;*/
}

.section-cart-items .cart-opciones .flex-higher,
.customer-nav {
	flex-grow: 0;
	border: 0px;
	margin-bottom: 5px;
}

.section-cart-items .cart-opciones .flex-higher li,
.customer-nav li {
    /*width: calc(100% / 4);*/
    width: calc(100% / 3);
}
.customer-nav .input-search-customer{
	width: calc(100% / 1.5);
}
.customer-nav .input-search-customer .form-group{
	margin-right: 2px;
}
.customer-nav .input-search-customer .form-group .form-control{
	height: 47px;
	line-height: 48px;
}
.customer-nav .dropdown-customer{
	width: calc(100% / 3);
}
.actions{
	margin-top: 0;
}
.nav-payment{
	display: flex;
	flex-direction: row;
}
.nav-payment li{
	float: none;
	flex-grow: 1;
}
.area-btn-payment{
	flex-grow: 3 !important;
}
.payment-section button{
	width: 100%;
	padding: 14px 5px !important;
	text-transform: capitalize;
}
.section-cart-items .cart-opciones .flex-higher li .btn-flex,
.payment-section button {
	padding: 10px 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #d2dae1;
	font-family: 'Roboto Condensed';
	font-size: 18px;
}
.input-btn-float button{
	background-color: transparent;
	border: 1px solid #ccc;
	border-left: none;
	height: 47px;
}
.customer-nav li .btn-flex{
	padding: 2px 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #d2dae1;
	font-family: 'Roboto Condensed';
	font-size: 18px;
}

.section-cart-items .cart-opciones .flex-central,
.actions-body {
	 flex-grow: 2; 
	border: 1px solid #d2dae1;
	border-radius: 4px;
	/*height: 48%;*/
	margin-bottom: 10px;
}

.section-cart-items .cart-opciones .flex-central #items .nav-tabs,
.payment-method-buttons {
	border: 0px;
	margin: 5px 0px;
}

.section-cart-items .cart-opciones .flex-central .tab-pane li
{
	width: calc(100% / 3);
    padding: 4px 8px;
}

.section-cart-items .cart-opciones .flex-central .tab-pane button,
.payment-method-buttons button
 {
	width: 100%;
	padding: 15px 0px;
	border-radius: 5px;
	border-style: solid;
    font-family: 'Roboto Condensed';
    font-size: 18px;
}

.section-cart-items .cart-opciones .flex-central .tab-pane button:hover {
	background: #d2dae1;
	color: #555;
}

.section-cart-items .cart-opciones .flex-lower {
	flex-grow: 5;
	/*height: 52%;*/
	border: 1px solid #d2dae1;
    border-radius: 4px;
    padding: 10px 40px 0px;

    display: flex;
    align-items: center;
}

.section-cart-items .cart-opciones .flex-lower ul,
.keypad ul {
    margin: 22px 0px 10px;
    border: 1px solid #d2dae1;
    border-radius: 5px;
}

.section-cart-items .cart-opciones .flex-lower li,
.keypad li {
	padding: 5px;
}

.section-cart-items .cart-opciones .flex-lower li button,
.keypad li button {
	width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #d2dae1;
    background: #eee;
    color: #777;
}

.section-cart-items .cart-opciones .flex-lower .btn-number,
.keypad .btn-number{
	width: calc((100%/3) - 40px);
}

.section-cart-items .cart-opciones .flex-lower .btn-bkspc-clr,
.keypad .btn-bkspc-clr {
	width: 120px;
}

.section-cart-items .cart-opciones .flex-lower .btn-enter button,
.keypad .btn-enter button {
	height: 120px;
}

.section-cart-items .cart-opciones .flex-lower .btn-cero,
.keypad .btn-cero{
	width: calc(100% - 120px);
    margin-top: -64px;
}

.customer-nav .dropdown-menu .item{
	width: 100%;
}
.customer-nav .dropdown-menu .item button:after{
	content: '';
}
.billto h4,
.shipto h4{
	margin-top: 4px;
}
.billto p,
.shipto p{
	margin-bottom: 4px;
}
.payment-detail{
	display: flex;
    margin-left: 0;
    margin-right: 0;
}
.customerInfo span:nth-child(2){
	padding-left: 15px;
    font-size: 190%;
    font-weight: 400;
	vertical-align: baseline;
}
.customerInfo span,
.payment-detail span{
	width: calc(100% / 2);
	display:inline-block;
}
.payment-detail-field{
	height: 24px;
}


.btn-items,.btn-items:focus, .btn-items:active,
#items button{
	outline: none;
}
#items button.active{
	font-weight: 500;
}
#items button.active:before{
	content: '';
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
}

/* FIN FJ*/


/*cart items*/
.cart-items{
	position: relative;
	display: flex;
	height: 100%;
	flex-direction: column;
	border-width: 1px;
	border-style: solid;	
	border-radius: 4px;
	margin-top: 0;
	margin-bottom: 5px;
}

.cart-items .thead{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
/* FJ - Inicio */
.tfooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f1f5f8;
	padding: 5px 10px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* FJ - Fin */

.items-section{
	flex:1 1 auto;
	/*overflow-y: visible;
	overflow-x: hidden;
	min-height: 0px;*/
	-webkit-overflow-scrolling:touch;
    overflow-scrolling:touch;
}

.img-product {
    margin: 5px;
}
.row.product{
	display: flex;
	margin-left: 0;
	margin-right: 0;
}
.row.product:nth-child(odd),.row.product:nth-child(even){
	border-top-width: 1px;
	border-top-style: solid;
}
.img-product img{
	width: 100%;
}
.brand,.size,.txtSize{
	font-size: 125%;
}

.price{
	font-family: 'Source Sans Pro';
	font-weight: normal;	
	font-size: 160%;
	text-align: right;
}
.center-text{
	display: flex;
  justify-content: center;
  flex-direction: column;
}
.product:nth-child(1){
	animation-delay: 0s;
}
.product:nth-child(2){
	animation-delay: 0.1s;
}
.product:nth-child(3){
	animation-delay: 0.2s;
}
.product:nth-child(4){
	animation-delay: 0.3s;
}
.product:nth-child(5){
	animation-delay: 0.4s;
}
.product:nth-child(6){
	animation-delay: 0.5s;
}
/*FJ*/
.ico-keyboard{
	font-family: 'Scalia User Icons';
	padding: 4px 10px 3px;
    border-radius: 0px 4px 4px 0px;
}

.form-group.scan{
	margin-top: 5px;
	margin-bottom: 5px;
}


/*Henry*/

.section-form-user{
	flex-direction: column;
	/*align-content: column;*/
}
.section-form-user article{
	width: 97%;
	/*margin: 10px;*/
}
.section-form-user .tfooter{
	position: relative;
}
.section-form-user .items{
	/*height: 200px;*/
}

.focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}


/*payment modal*/
.flex-sections{
	display: flex;
	margin: 0;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}
.flex-sections section{
	width: initial;
	display: block;
}
.flex-sections .actions {
	flex-grow: 2; 
}
.flex-sections .totalBalance {
	flex-grow: 2; 
}
.flex-sections .keypad {
	flex-grow: 1;
	width: 240px;
}

.flex-sections .actions .actions-body,
.flex-sections .totalBalance .totalBalance-body{
	margin: 10px 10px 10px 0;
    border: 1px solid #d2dae1;
    border-radius: 5px;
}
.payment-method-buttons>li{
	float: left;
}
.actions-body{
	max-width: 240px;
}
.totalBalance-body,
.actions-body{
	height: 310px;
	max-height: 310px;
}
.totalBalance-body{
  display: flex;
  padding: 0;
  flex-direction: column;
}
.totalBalance-body .row {
  margin: 0;
}
.totalBalance-body .row:nth-last-child(2) {
  flex-grow: 1;
}
.payment-method-buttons button {
    padding: 20px 0px;
}
.payment-method-buttons li
{
	width: calc(100% / 2);
    padding: 4px 8px;
}
.totalBalance-body{
	width: 200px;
	justify-content: flex-start;
}
.keypad .btn-number {
    width: calc((100%/3) - 25px);
}
.keypad .btn-bkspc-clr{
	width: 75px;
}
.keypad .btn-cero {
    width: calc(100% - 75px);
    margin-top: -64px;
}
.txtSelectPayment {
    margin-top: 11px;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal-header {
    padding: 15px 15px 0;
}
.modal-body {
    padding: 10px;
}
.modal-footer {
    padding: 10px 20px 20px;
    margin-top: 0;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.message-actions-title {
	display: none;
    position: absolute;
    top: -95%;
    left: 0;
}
span.message-txtScan {
    bottom: -46%;
    animation: fadeOut 1s both;
    -webkit-animation: fadeOut 1s both;
}
.showElement{
	animation: fadeIn 1s both !important;
	-webkit-animation: fadeIn 1s both !important;
}

@media screen and (min-width: 1024px) and (orientation: landscape){
	.modal-dialog {
	    width: 768px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
}

@media screen and (min-width: 1280px) and (orientation: landscape){
	.modal-dialog {
	    width: 967px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.totalBalance-body,
	.actions-body,
	.flex-sections .keypad{
		max-width: 300px;
		width: 300px;
	}
}
@media only screen and (min-width: 1360px) {
	.ico-keyboard{
	    padding: 6px 10px 5px;
	}
	.section-cart-items .cart-opciones .flex-higher li .btn-flex, 
	.payment-section button{
		font-size:  22px !important;
	}
    .info-pos label{
      font-size: 120%;
    }
    .section-cart-items .cart-opciones .flex-lower{
    	padding-left: 100px;
    	padding-right: 100px;
    }
    .ico-keyboard{
    	right: 0;
    }
    .section-cart-items .cart-opciones .flex-lower li button, .keypad li button{
    	height: 64px;
    }
    .section-cart-items .cart-opciones .flex-lower .btn-enter button, .keypad .btn-enter button{
    	height: 139px;
    }
    .section-cart-items .cart-opciones .flex-lower .btn-cero, .keypad .btn-cero{
    	height: -74px;
    }
}