body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
nav{
	height: 54px;
	z-index: 999;
}
section{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
article{
	min-width: 300px;
	max-width: 30%;
	margin: 15px;
}

h1, h2, h3 {
  margin-top: 12px;
  margin-bottom: 5px;
}

/*product detail*/
.productDetail{
	border-style: solid;
	border-width: 1px;
	font-size: 160%;
	border-radius: 4px;
	padding: 0 20px;	

    animation-name: productDetail;
  	animation-duration: 1.2s;
	animation-delay: 0s;
}

@keyframes productDetail{
	0%{
		transform: translateX(110%);
    	opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
.productDetail h2{
	margin-top: 0;
}
.productDetail div[class*="lbl"]{
	font-family: 'Roboto Condensed';
}
.productDetail div[class*="col"]{
	line-height: 200%;
}
.txtRetailPriceRelatedProduct,.txtRetailPrice{
	display: inline-block;
}
.txtBrand{
	font-weight: 500;
}


/*sort*/
.sort-area{
	width: 100%;
	height: 58px;
}
.float-right{
	float: right;
	margin: 5px 15px;
}
.float-right span{
	font-family: 'Scalia User Icons';
}
.float-right label{
	font-family: 'Source Sans Pro';
	font-weight: 500;
	padding-right: 5px;
}
.float-right .dropdown{
	display: inline-table;
}
.dropdown .btn {
  min-width: 80px;
  height: 33px;
  padding: 6px 48px 6px 5px;
  font-family: 'Source Sans Pro';
  font-size: 90%
}
.dropdown-menu{
	left: inherit;
	margin-top: -1px;
	min-width: 80px;
}
.dropdown-menu li{
	height: 44px;
	line-height: 44px;
	font-family: 'Roboto Condensed';
	padding: 0 15px;
	font-size: 110%;
}
.open>.dropdown-menu{
	max-height: 170px;
	min-height: 44px;
	overflow-y: auto;
	padding: 0;
}


/*main Img*/
.list-clones{
	position: relative;
}
.mainImg{
  flex-grow: 2;
 -webkit-flex-grow: 2;
  border-width: 1px;
  border-style: solid;
  border-right-width: 0;
  margin: 15px 0px 15px 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.figureMainImg {
    height: 100%;
    padding: 10px;
}
.main-img{
	width: 100%;
	height: 100%;
	
  -webkit-animation-name: vanishIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-name: vanishIn;
  animation-duration: 0.5s;
  animation-delay: 0s;
}
@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1.6, 1.6);
    -webkit-filter: blur(90px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }
}
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1.6, 1.6);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

.list-clones li{
	position: absolute;
	top: 0;
	left: 0;	
}

.behind img,.front img{
	width: 100%;
	height: 100%;
}
.behind:nth-child(2){
	z-index: -10;
}
.behind:nth-child(3){
	z-index: -20;
}
.behind:nth-child(4){
	z-index: -30;
}
.front{
	z-index: 0 !important;	
}

.animateBehind{
	animation-name: animateBehind;
	animation-duration: 1s;
	animation-delay: 0s;
}
@keyframes animateBehind{
	0%{
		transform: translateX(00px);
	}
	50%{
		transform: translateX(150px);
	}
	100%{
		transform: translateX(0px);
	}
}

/*views*/
figure{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
}
.views {
  margin: 15px 15px 15px 0;
  border-width: 1px;
  border-style: solid;
  border-left-width: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  animation-name: productDetail;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
}
.views img{
	width: 40%;
  height: 40%;
  padding: 10px;
}


/*related products*/
.no-related-products{
	width: 100%;
}
.no-related-products .content{
	display: flex;
	width: 100%;
	height: 100%;
  align-items: center;
  justify-content: center;
}
.txtNoRelated:before{
  content: '\e627';
  margin-left: -1em;
  font-size: 100%;
  padding-right: 10px;
  font-family: 'Scalia User Icons';
  display: block;
  float: left;
}
.content-products{
	display: flex;
	width: 100%;
	flex-direction: column;
}
.related-products{
	display: flex;
	font-size: 120%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  height: 100%;
}
.related-products.items-2{
	justify-content: center;
}
.related-products.items-3{
	justify-content: center;
}
.related-products.items-1{
	justify-content: center;
}
div[class^="product"]{
	display: inline-block;
	width: 200px;
	position: relative;
	margin: 4px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	opacity: 0;

	transform-origin: left center;
	-webikit-transform-origin: 20% 80%;

	animation-name: translateProduct;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  -webkit-animation-name: translateProduct;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;

  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}
@keyframes translateProduct {
    0%   {transform: translateX(-50px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}
@-webkit-keyframes translateProduct {
    0%   {-webkit-transform: translateX(-50px); opacity: 0;}
    100% {-webkit-transform: translateX(0px); opacity: 1;}
}
.product.product-1{
	margin-left: 15px;
}
.product:last-of-type{
	margin-right: 15px;
}
.product img{	
	width: 100%;
}
.img-product{
	display: block;
	width: 100%;
	margin: auto;
	padding: 0;
	/*height: 172px;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.img-product img{
	width: 100%;
	height: 100%;
}
.areaStyle, .areaPrice{
	text-align: center;
}
.areaStyle div{
	display: inline-block;
	font-weight: 100;
}
.price,.brand{
	text-align: center;
}
.brand{
	font-size: 125%;
	padding-top: 0px;
}
.price{
	font-family: 'Source Sans Pro';
	font-weight: 500;
	padding-bottom: 5px;
}

.product-1{
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.product-2{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.product-3{
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.product-4{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.product-5{
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
/* two items */
/*.product:first-of-type:nth-last-child(2),*/
.product:first-of-type:nth-last-child(1) ~ .product {
  width: 50%;
}

.related-products .product:parent {
	border: 5px solid black;
}


/*footer*/
.options{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.btn-back:before {
    content: '\e614';
  margin-left: -1em;
  font-size: 100%;
  padding-right: 10px;
  font-family: 'Scalia User Icons';
  display: block;
  float: left;
}
.btn-add-continue:before {
  content: '\e612';
  margin-left: -1em;
  font-size: 100%;
  padding-right: 10px;
  font-family: 'Scalia User Icons';
  display: block;
  float: left;
}
.btn-add-finish:before {
  content: '\e744';
  margin-left: -1em;
  font-size: 100%;
  padding-right: 10px;
  font-family: 'Scalia User Icons';
  display: block;
  float: left;
}

@media only screen and (min-width: 1280px) {
    article{
    	min-width: 380px;
    }
    .productDetail{
    	font-size: 164%;
    }
    .dropdown .btn{
    	font-size: 90%;
    	line-height: 90%;
    }
    .dropdown .btn:after{
    	font-size: 75%;
    }
    .dropdown-menu li{
    	font-size: 125%;
    }
    div[class^="product"]{
			width: 210px;
		}
}
@media only screen and (min-width: 1360px) {
    article{
    	min-width: 410px;
    }
    body{
    	font-size: 140%;
    }
    h3, .h3 {
	    font-size: 32px;
		}
		div[class^="product"]{
			width: 290px;
		}
}


@media only screen and (min-width: 1920px) {
	article{
  	min-width: 600px;
  }
  body{
  	font-size: 160%;
  }
  h3, .h3 {
    font-size: 34px;
	}
	div[class^="product"]{
		width: 350px;
	}
}