body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
nav{
	height: 54px;
	z-index: 999;
}
section{
	display: -webkit-box;  
	display: flex;	
	height: 100%;
	overflow: hidden;
	flex-direction: row;
}
aside{
	position: relative;
	width: 200px;
	height: 100%;
	overflow: auto;
}
main{
	position: relative;
	flex: 1;
	padding: 6px 15px;
	display: flex;
	flex-direction: column;
}
.results{
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}



.btn-bottom{
	position: fixed;
	bottom: 0;
}
.itemName{    
    border-width: 1px;
    border-style: solid;
}
.items{
	line-height: 30px;
}
.items .menu-item,
.items .sku-item{
	position: relative;
	padding-left: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-transform: lowercase;
}
.itemName,.menu-item{
	display: block;
  padding: 15px 30px 15px 15px;
}

.menu-item .checkbox{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 18px;
    height: 18px;
    min-height: 18px;
    min-width: 18px;
    padding: 0;
    z-index: 0;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}
.menu-item.selected .checkbox{
	top: 0;
	bottom: 0;
  right: 25px;
  margin: auto;
  width: 9px;
  height: 20px;
  min-width: auto;
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right-style: solid;
  border-right-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  -webkit-transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
}
.itemName:before{
	content: '\e601';
	font-size: 15px;
    font-family: 'Scalia';
    font-weight: normal;
    padding-right: 10px;
    -webkit-transform-origin: center;
    -webkit-transition: all 0.12s;	
    transform-origin: center;
    transition: all 0.12s;	
}
.itemName.expand:before{
	display: inline-block;
	-webkit-transform-origin: center;
	-webkit-transform: translate3D(-5px,5px,0) rotate(90deg);
	transform-origin: center;
	transform: translate3D(-5px,5px,0) rotate(90deg);
}
.itemName + .items{
	max-height: 0;
	overflow: auto;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
}
.itemName.expand + .items{
	max-height: 244px;
	-webkit-transition: max-height 0.2s;
	transition: max-height 0.2s;
}

.ancestor:nth-child(1){
	animation-delay: 0s;
}
.ancestor:nth-child(2){
	animation-delay: 0.05s;
}
.ancestor:nth-child(3){
	animation-delay: 0.1s;
}
.ancestor:nth-child(4){
	animation-delay: 0.15s;
}
.ancestor:nth-child(5){
	animation-delay: 0.2s;
}
.ancestor:nth-child(6){
	animation-delay: 0.25s;
}
.ancestor:nth-child(7){
	animation-delay: 0.3s;
}
.ancestor:nth-child(8){
	animation-delay: 0.35s;
}

.btn-filter{
	position: absolute;
	bottom: 0;
}
.btn-clear-search{
	position: absolute;
	bottom: 50px;
}
.btn-filter:before{
	content: '\e766';
	font-family: 'Scalia User Icons';
	font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}
.btn-clear-search:before{
	content: '\e777';
	font-family: 'Scalia User Icons';
	font-weight: normal;
  float: left;
  margin-left: -1.4em;
  font-size: 82.6%;
  vertical-align: middle;
}


/*logo area*/
.notfound {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-size: 200%;
  height: 80px;
  line-height: 60px;
}
.area-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.area-logo img{
  width: 74%;
  min-width: 200px;
}

/*filters*/
.filters-marked{
	height: 84px;
	max-height: 84px;
	overflow-y: auto;
}
.filters-marked .filter{
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	margin-right: 15px;
	margin-bottom: 5px;
	padding-left: 5px;
}
.filter:before{
	content: 'X';
	font-family: 'Roboto Condensed';
	font-weight: 300;
  float: right;
  margin-right: -15px;
  font-size: 82.6%;
  vertical-align: middle;
}
.filter.filter-1{
	padding-right: 20px;
	font-size: 100%;
}
.filter-1:before{
	margin-top: 3px;
	margin-right: -14px;
}
.filter.filter-2{
	padding-right: 24px;
	font-size: 125%;
}
.filter-2:before{
	margin-top: 3px;
	margin-right: -16px;
}
.filter.filter-3{
	padding-right: 28px;
	font-size: 150%;
}
.filter-3:before{
	margin-top: 3px;
	margin-right: -18px;
}


/*swiper container*/
.swiper-container {
  width: 100%;
  /*height: 100%;*/
}
.swiper-slide {
  text-align: center;
  font-size: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: initial !important;
}
/* one item */
div[class^="row-product"]:first-child:nth-last-child(1) {
  align-items: flex-start;
}


/*product*/
div[class^="row-product"]{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.product{
	transition:all 2s;
	-webkit-transition:all 2s;

	transform-origin: left center;
	-webikit-transform-origin: 20% 80%;

	animation-name: translateProduct;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  -webkit-animation-name: translateProduct;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
}
@keyframes translateProduct {
    0%   {transform: translateX(20px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}
@-webkit-keyframes translateProduct {
    0%   {-webkit-transform: translateX(20px); opacity: 0;}
    100% {-webkit-transform: translateX(0px); opacity: 1;}
}
.product img{
	width: 100%;
}
div[class^="product"]{
	display: inline-block;
	width: 24.149999%;
	position: relative;
	margin: 4px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
div[class^="product"]:first-child{
	margin-left: 0;
}
div[class^="product"]:last-child{
	margin-right: 0;
}
.row-product1 .product:nth-child(1){
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.row-product1 .product:nth-child(2){
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.row-product1 .product:nth-child(3){
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.row-product1 .product:nth-child(4){
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.row-product2 .product:nth-child(1){
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.row-product2 .product:nth-child(2){
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.row-product2 .product:nth-child(3){
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.row-product2 .product:nth-child(4){
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.img-product{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	/*height: set in Jquery - resizeElement function*/
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
}
.img-product img{
	width: 100%;
	height: 100%;
}
.brand{
	font-size: 115%;
	/*padding-top: 15px;*/
}
.areaStyle, .areaPrice{
	text-align: center;
}
.areaStyle div{
	display: inline-block;
	font-weight: 100;
}
.txtRetailPrice{
	display: inline-block;
}
.price{
	font-family: 'Source Sans Pro';
	font-weight: 400;	
}
.areaPrice{
	/*padding-bottom: 15px;*/
}


/*clear filters*/
.float-left{
	float: left;
	margin: 15px;
}
.btn-clear{
	padding: 0 10px;
	text-decoration: underline;
}
/*sort*/
.sort-area{
	width: 100%;
	height: 58px;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.float-right{
	float: right;
	margin: 11px 15px;
}
.float-right span{
	font-family: 'Scalia User Icons';
}
.float-right label{
	font-family: 'Source Sans Pro';
	font-weight: 500;
	padding-right: 5px;
}
.float-right .dropdown{
	display: inline-table;
}
.dropdown .btn {
  min-width: 162px;
  padding: 5px 40px 5px 5px;
  font-family: 'Roboto Condensed';
  font-size: 150%;
}
.dropdown-menu{
	right: 0;
	left: inherit;
	margin-top: -1px;
}
.dropdown-menu li{
	height: 44px;
	line-height: 44px;
	font-family: 'Roboto Condensed';
	padding: 0 15px;
}
.dropdown .btn:before{
	width: 34px;
}
.dropdown .btn:after{
	right: 9px;
}


.opaque{
	opacity: 0;
}

/*searchKiosk.html Style*/
.items .sku-item {
	display: block;
    padding: 15px 20px;
}


@media only screen and (min-width: 1280px) {
    aside{
    	width: 300px;
    }
    .itemName,
    .items .menu-item{
    	font-size: 110%;
	    padding: 18px 30px 18px 18px;
	} 
	.sort-area{
		height: 44px;
	} 
	.float-left{
		margin: 8px;
	}
	.float-right {
    margin: 3px 13px;
	}
	.swiper-slide {
	  font-size: 120%;
	}  
	.swiper-slide div[class^="product"]{
    margin: 2px 6px;
    }
    .swiper-slide div[class^="product"]:first-child{
		margin-left: 0;
	}
	.swiper-slide div[class^="product"]:last-child{
		margin-right: 0;
	}
	.menu-item .checkbox{
		right: 18px;
		width: 22px;
		height: 22px;
	}
	.menu-item.selected .checkbox{
		right: 30px;
		width: 10px;
		height: 22px;
	}
	.dropdown .btn{
	    padding: 4px 48px 4px 5px;
	}
}

@media only screen and (min-width: 1360px) {
	.itemName, .items .menu-item {
	    font-size: 120%;
	    padding: 20px 30px 20px 23px;
	}
	.btn-clear-search{
		bottom: 60px;
	}
   .swiper-slide {
    	font-size: 160%;
	}
	.menu-item .checkbox{
		right: 20px;
		width: 24px;
		height: 24px;
	}
	.menu-item.selected .checkbox{
		right: 32px;
		width: 12px;
		height: 24px;
	}
	.brand{
		font-size: 120%;
	}
	.swiper-slide div[class^="product"] {
	    margin: 5px 6px;
	}
	.sort-area{
		height: 54px;
	}
	.float-right {
	    margin: 7px 13px;
	}
	.float-left {
	    margin: 13px;
	}
}

@media only screen and (min-width: 1920px) {
	.float-right {
	    margin: 3px 13px;
	}
	.dropdown .btn {
	    padding: 3px 48px 3px 5px;
	}
	.float-left {
    	margin: 8px;
	}
	.swiper-slide div[class^="product"] {
	    margin: 5px 9px;
	}
}