<?xml version='1.0' encoding='utf-8'?>
<widget id="com.retailcs.rcskiosk" 
    versionCode="8" 
    version="1.0.1" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RCS KIOSK</name>
    <description>RCS KIOSK</description>
    <author href="http://retailcs.com/" email="devmobile@realcs.com">
        Retail Custom Solutions
    </author>

    <content src="views/index.html" />


    <preference name="Fullscreen" value="false" />  
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <preference name="Orientation" value="landscape" />

    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

<!--     <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/res/icon/android/ldpi.png"  density="ldpi" />
        <icon src="www/res/icon/android/mdpi.png" density="mdpi" />
        <icon src="www/res/icon/android/hdpi.png" density="hdpi" />
        <icon src="www/res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="www/res/icon/android/xxhdpi.png"  density="xxhdpi" />
        <icon src="www/res/icon/android/xxxhdpi.png"  density="xxxhdpi" />
    </platform> -->

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
<!--     <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
        <uses-permission platform="android" name="android.permission.camera"/>
        <uses-feature platform ="android" name="android.hardware.camera" required="true" />
        <uses-feature platform ="android" name="android.hardware.camera.autofocus" required="true" />
    </config-file> -->
</widget>
