<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="../cordova.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/scripts/menu.js"></script>
	<script type="text/javascript" src="../js/scripts/captions.js"></script>
	<script type="text/javascript" src="../js/scripts/scripts.js"></script>
	

	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/core-style.css" rel="stylesheet">
	<link href="../css/colors.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>
<body>

	<nav class="animated fadeIn">
		<div class="left-options">
			<div class="icon btn-home">&#xe610;</div>			
		</div>
	</nav>

	<div class="bgmenu">
		<div class="background"></div>
		<img src="../img/menu/bg3.jpg" alt="" class="img-bgmenu">
	</div>

	
	<div class='container'>

		<section class="logoSection">
		  <div class='logoArea'>
		    <img src="http:\\retailcs.com\3orless\PublicImages\Logo\Logo.png" alt="logo retaileano" class="logoApp">
		  </div>
		</section>

		<section class="optionsSection">
			<div class="optionsArea">
				<a class='opt opt1'>
					<div class="option1">
						Customer Registration
					</div>			    
			  </a>
			  <a class='opt opt2'>
			  	<div class="option2">
			  		Catalog kiosk
			  	</div>			    
			  </a>
			  <a class='opt opt3'>
			  	<div class="option3">
			    	three or less
			  	</div>
			  </a>
			</div>		  
		</section>

	</div>

</body>
</html>