<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Scan Items</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="../cordova.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.email-autocomplete.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>

	<script type="text/javascript" src="../js/plugins/underscore.min.js"></script>
	<script type="text/javascript" src="../js/plugins/sweetalert.min.js" ></script>
	<script type="text/javascript" src="../js/scripts/scripts.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.email-autocomplete.min.js"></script>
	<script type="text/javascript" src="../js/scripts/pos.js"></script>
	<!-- <script type="text/javascript" src="../js/scripts/captions.js"></script> -->
	<script type="text/javascript" src="../js/scripts/colorApp.js"></script>

	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/sweetalert.css" rel="stylesheet">
	<link href="../css/core-style.css" rel="stylesheet">
	<link href="../css/colors.css" rel="stylesheet">
	<link href="../css/animate.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/pos.css">
</head>

<body>
	<nav class="animated fadeIn setBaColor nav-retailcs">
		<div class="left-options">
			<div class="icon btn-home">&#xe610;</div>
			<label class="appName appNameScanItem">
				Checkout
			</label>
			<label class="cashierName">
				Cashier
			</label>	
			<label class="storeName">
				Store 001
			</label>		
		</div>
		<ul class="right-options">
			<!--<li><div class="icon btn-cart">&#xe613;<span class="item-count"></span></div></li>-->
			<li class="li-options"><div class="icon btn-cart">&#xe755;<span class="item-count"></span></div></li>
			<li class="li-total"><span class="span-total">Total: </span><span class="span-total span-total-price">$0.00</span></li>
		</ul>
	</nav>

	<div class="validations hide">
		<div class="msg-image">
			<div class="btn btn-mini-img color3 borderc3">
				<span>&#xe650</span>
			</div>			    
		</div>
		<div class="msg-txt">
			<!-- add classes: danger, success beside to txtMessage-->
			<p class="txtMessage">
				Validation errors occurred. Please confirm the fields and submit it again.
			</p>	
		</div>
	</div>

	<div class="section-principal">

		<!-- INICIO HENRY -->
		<section class="section-form-user">		
			<article class="form-user">
				<h2 class="text-center lblCompleteFields">Please complete the fields</h2>
				<!-- <div class="form-group user col-xs-12 col-md-12">	
					<input type="text" value="" class="form-control txtFirstName" value="Gustavo">
					<span class="no-complete noFirstName hide">Please fill the required field</span>
				</div> -->
				<form>
					<div class="form-inline row">
						<div class="form-group user col-xs-12 col-md-6">
							<label class="lblName">Firstname<span>*</span></label>		
							<input type="text" value="" class="form-control txtFirstName" value="Gustavo">								
							<span class="no-complete noFirstName hide">Please fill the required field</span>
						</div>
						<div class="form-group user col-xs-12 col-md-6">
							<label class="lblLastName">Lastname<span>*</span></label>		
							<input type="text" value="" class="form-control txtLastName" value="Coronado">								
							<span class="no-complete noLastName hide">Please fill the required field</span>
						</div>
					</div>					
					<div class="form-group user">
						<label class="lblEmail">E-mail<span>*</span></label>		
						<input type="email" value="" class="form-control txtEmail" placeholder="your@email.com" value="gustavo@realcs.com">								
						<span class="no-complete noEmail hide">Please fill the required field</span>
					</div>
				</form>
			</article>
			<article class="cart-items">
				<div class="thead">
					<div class="col-xs-2 text-left center-text">
						<label class="actions">&nbsp;</label>
					</div>
					<div class="col-xs-7 text-left center-text">
						<label class="lblDescription">Description</label>
					</div>
					<div class="col-xs-3 text-right center-text">
						<label class="lbltotal">Total</label>
					</div>
					<!-- <div class="form-group scan col-xs-4 col-xs-offset-4 input-group">	
						<input type="number" value="" class="form-control txtScan" placeholder="Scan product" maxlength="7">
						<span class="input-group-btn">
							<button class="btn btn-scanner ico-keyboard setBaColor">&#xe640;</button>
						</span>
					</div> -->
				</div>

				<div class="items"></div>
				<div class="tfooter">
					<div class="row">
						<div class="col-xs-8 footer-text-left">
							<span class="detail-count-text1">You have </span>
							<span class="detail-count">0</span>
							<span class="detail-count-text2"> product(s) in you cart.</span>
						</div>
						<div class="col-xs-4 footer-text-right">
							<span>Total: <span class="detail-total">$0.00</span></span>
						</div>
					</div>
				</div>
				<!-- <div class="col-xs-3">
							<div class="img-product">
				      			<img src="<%=path%>" onerror="handleError(this)">
				      		</div>
						</div> -->
		      	<script type="text/template" id="productCartItemTemplate">
	                <div class="row product <%=Class%>">
		  				<div class="col-xs-1  center-text">
		  					<div class="icon btn-trash" data-style="<%=styleCode%>" data-color="<%=colorCode%>" data-size="<%=sizeCode%>" data-sku="<%=sku%>">&#xe615;</div>	
		  				</div>
						<div class="col-xs-2 center-text">
							<div class="img-product">
				      			<img src="<%=path%>" onerror="handleError(this)">
				      		</div>
						</div>
			      		<div class="col-xs-6 center-text">
			      			<div class="areaStyle">
				      			<span class="txtStyleName">Style:</span>&nbsp;<span class="styleName"><%=styleName%></span>
				      		</div>
				      		<div class="brand setColor"><%=brandName%></div>
				      		<div class="areaStyle">
				      			<span class="txtSize">Size:</span>&nbsp;<span class="size"><%=size%></span>
				      		</div>
			      		</div>
		    			<div class="col-xs-3  center-text">
		    				<div class="price"><%=price%></div>
		    			</div>
					</div>
	            </script>
			</article>			
		</section>
		<!-- FIN HENRY -->

		<!-- INICIO FRANK -->
		<section class="section-cart-items">		
			<article class="cart-opciones">
				<ul class="flex-higher nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#items" class="btn-flex btn-items lblItems">Items</a></li>
					<li><a data-toggle="tab" href="#transaction" class="btn-flex btn-transaction lblTransaction">Transaction</a></li>
					<li><a href="#payment" class="btn-flex btn-payment lblPayment">Payment</a></li>
					<!--<li><a data-toggle="tab" href="#otro" class="btn-flex">&nbsp;</a></li>-->
				</ul>
				<div class="flex-central tab-content">
					<div id="items" class="tab-pane fade in active">
						<ul class="nav nav-tabs">
							<li><button>Price</button></li>
							<li><button>Sales Person</button></li>
							<li><button>Promotions</button></li>
							<li><button>Redeem Reward</button></li>
							<li><button>Lookup</button></li>
							<li><button>&nbsp;</button></li>
							<li><button>&nbsp;</button></li>
							<li><button>&nbsp;</button></li>
						</ul>
					</div>
					<div id="transaction" class="tab-pane fade">
						<ul class="nav nav-tabs">
							<li><button class="btn-clear-cart">Void</button></li>
							<li><button>Return Receipt</button></li>
							<li><button>Tax</button></li>
							<li><button>Hold</button></li>
							<li><button>Unhold</button></li>
							<li><button>&nbsp;</button></li>
							<li><button>&nbsp;</button></li>
							<li><button>&nbsp;</button></li>
						</ul>
					</div>
					<div id="payment" class="tab-pane fade">
						&nbsp;
					</div>
					<!--<div id="otro" class="tab-pane fade">
						dddd
					</div>-->
				</div>
				<div class="flex-lower">
					<div class="form-group input-group">
						<input type="text" id="" name="" class="form-control txtScan focus" maxlength="7" disabled>
						<span class="input-group-btn">
							<button class="btn btn-scanner ico-keyboard setBaColor">&#xe640;</button>
						</span>
					</div>
					<ul class="nav nav-tabs">
						<li class="btn-number"><button class="btn-tecla" valor="7">7</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="8">8</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="9">9</button></li>
						<li class="btn-bkspc-clr"><button class="btn-tecla" valor="bkspc">Bkspc</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="4">4</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="5">5</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="6">6</button></li>
						<li class="btn-bkspc-clr"><button class="btn-tecla" valor="clr">Clear</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="1">1</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="2">2</button></li>
						<li class="btn-number"><button class="btn-tecla" valor="3">3</button></li>
						<li class="btn-bkspc-clr btn-enter"><button class="btn-tecla" valor="enter">Enter</button></li>
						<li class="btn-cero"><button class="btn-tecla" valor="0">0</button></li>
					</ul>
				</div>
			</article>
		</section>
		<!-- FIN FRANK -->

	</div>

	<!-- <footer>
		<div class="options">
			<button class="btn btn-back setBaColor">Back</button>
			<button class="btn btn-clear-cart setBaColor">Clear All</button>
			<button class="btn btn-order setBaColor">Order</button>
		</div>
	</footer> -->

	<!-- modal payment -->
	<div class="modal fade" id="modalPayment" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">          
					<h2 class="modal-title modalTitle lblPayment">Payment</h2>
				</div>
				<div class="modal-body flex-sections">
					<section class="actions">
						<div class="actions-body">
							<ul class="payment-buttons">
								<li><button class="btn-cash">Cash</button></li>
								<li><button class="btn-credit-card">Credit Card</button></li>
								<li><button class="btn-pin-debit">Pin Debit</button></li>
								<li><button class="btn-redeem-gift">Redeem Gift</button></li>
								<li><button class="btn-by-debit">By Gift</button></li>
							</ul>
						</div>
					</section>
					<section class="totalBalance">
						<div class="totalBalance-body">
							a
						</div>
					</section>
					<section class="keypad">
						<ul class="nav nav-tabs">
							<li class="btn-number"><button class="btn-tecla" valor="7">7</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="8">8</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="9">9</button></li>
							<li class="btn-bkspc-clr"><button class="btn-tecla" valor="bkspc">Bkspc</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="4">4</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="5">5</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="6">6</button></li>
							<li class="btn-bkspc-clr"><button class="btn-tecla" valor="clr">Clear</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="1">1</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="2">2</button></li>
							<li class="btn-number"><button class="btn-tecla" valor="3">3</button></li>
							<li class="btn-bkspc-clr btn-enter"><button class="btn-tecla" valor="enter">Enter</button></li>
							<li class="btn-cero"><button class="btn-tecla" valor="0">0</button></li>
						</ul>
					</section>
				</div>
				<div class="modal-footer">
					<button class="btn btnCancel" data-dismiss="modal" id="btnCancel">Cancel</button>
					<button class="btn btnCompleteSale" data-dismiss="modal" id="btnCompleteSale">Complete Sale</button>
				</div>
			</div>
		</div>
	</div>

	<div class="validations hide">
		<div class="msg-image">
			<div class="btn btn-mini-img color3 borderc3">
				<span>&#xe650</span>
			</div>			    
		</div>
		<div class="msg-txt">
			<!-- add classes: danger, success, beside to txtMessage-->
			<p class="txtMessage">
				Validation errors occurred. Please confirm the fields and submit it again.
			</p>	
		</div>							
	</div>	

	<!-- loading block printer -->
	<div class="loader hide">
		<div class="loader-principal setBoColor">
		  <div class="segment-holder">
		    <div class="segment one setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment two setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment three setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment four setBaColor"></div>
		  </div>			
		</div>
	</div>
	
</body>
</html>