<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Scan Items</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="../cordova.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.email-autocomplete.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>

	<script type="text/javascript" src="../js/plugins/underscore.min.js"></script>
	<script type="text/javascript" src="../js/plugins/sweetalert.min.js" ></script>
	<script type="text/javascript" src="../js/scripts/scripts.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.email-autocomplete.min.js"></script>
	<script type="text/javascript" src="../js/scripts/scan-items.js"></script>
	<!-- <script type="text/javascript" src="../js/scripts/captions.js"></script> -->
	<script type="text/javascript" src="../js/scripts/colorApp.js"></script>
	

	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/sweetalert.css" rel="stylesheet">
	<link href="../css/core-style.css" rel="stylesheet">
	<link href="../css/colors.css" rel="stylesheet">
	<link href="../css/animate.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/scan-items.css">
</head>
<body>

	<nav class="animated fadeIn setBaColor nav-retailcs">

		<div class="left-options">
			<div class="icon btn-home">&#xe610;</div>
			<label class="appName appNameScanItem">
				Checkout
			</label>			
		</div>
		
		<ul class="right-options">
			<!--<li><div class="icon btn-cart">&#xe613;<span class="item-count"></span></div></li>-->
			<li class="li-options"><div class="icon btn-cart">&#xe755;<span class="item-count"></span></div></li>
			<li class="li-total"><span class="span-total">Total: </span><span class="span-total span-total-price">$0.00</span></li>
		</ul>
	</nav>
	<div class="validations hide">
		<div class="msg-image">
			<div class="btn btn-mini-img color3 borderc3">
				<span>&#xe650</span>
			</div>			    
		</div>
		<div class="msg-txt">
			<!-- add classes: danger, success beside to txtMessage-->
			<p class="txtMessage">
				Validation errors occurred. Please confirm the fields and submit it again.
			</p>	
		</div>
	</div>
	<section class="section-form-user">
		<!-- product details -->
		<article class="form-user">
			<h2 class="text-center lblCompleteFields">Please complete the fields</h2>
			<form>
				<div class="form-inline row">
					<div class="form-group user col-xs-12 col-md-6">
						<label class="lblName">Firstname<span>*</span></label>		
						<input type="text" value="" class="form-control txtFirstName" value="Gustavo">								
						<span class="no-complete noFirstName hide">Please fill the required field</span>
					</div>
					<div class="form-group user col-xs-12 col-md-6">
						<label class="lblLastName">Lastname<span>*</span></label>		
						<input type="text" value="" class="form-control txtLastName" value="Coronado">								
						<span class="no-complete noLastName hide">Please fill the required field</span>
					</div>
				</div>					
				<div class="form-group user">
					<label class="lblEmail">E-mail<span>*</span></label>		
					<input type="email" value="" class="form-control txtEmail" placeholder="your@email.com" value="gustavo@realcs.com">								
					<span class="no-complete noEmail hide">Please fill the required field</span>
				</div>
			</form>
		</article>

	</section>

	<section class="section-cart-items">
		<!-- product details -->
		<article class="cart-items">
			<div class="thead">
				<!-- <h3 class="text-center lblCartItems setColor">Cart Items</h3> -->
				<div class="form-group scan col-xs-4 col-xs-offset-4 input-group">	
					<input type="number" value="" class="form-control txtScan" placeholder="Scan product" maxlength="7">
					<span class="input-group-btn">
						<button class="btn btn-scanner ico-keyboard setBaColor">&#xe640;</button>
					</span>
				</div>
			</div>
			

			<div class="items">
				<!-- <div class="product product-1">
					<div class="col-xs-3">
						<div class="img-product">
			      			<img src="" alt="img">
			      		</div>
					</div>	
				</div>
	      		<div class="col-xs-4">
	      			<div class="areaStyle">
		      			<div class="txtStyleName">Style:</div><div class="styleName">1000001</div>
		      			<div class="brand">Nice Dicks</div>
		      		</div>
	      		</div>
    			<div class="col-xs-3">
    				<div class="price">$99.99</div>
    			</div>
  				<div class="col-xs-2">
  					<div class="icon btn-trash">&#xe615;</div>	
  				</div> -->  				
	      	</div>

			<!-- FJ - Inicio -->
			<div class="tfooter">
				<div class="row">
					<div class="col-xs-9 footer-text-left">
						<span class="detail-count-text1">You have </span>
						<span class="detail-count">0</span>
						<span class="detail-count-text2"> product(s) in you cart.</span>
					</div>
					<div class="col-xs-3 footer-text-right">
						<span>Total: <span class="detail-total">$0.00</span></span>
					</div>
				</div>
			</div>
			<!-- FJ - Fin -->

	      	<script type="text/template" id="productCartItemTemplate">
                <div class="row product <%=Class%>">
	  				<div class="col-xs-1  center-text">
	  					<div class="icon btn-trash" data-style="<%=styleCode%>" data-color="<%=colorCode%>" data-size="<%=sizeCode%>" data-sku="<%=sku%>">&#xe615;</div>	
	  				</div>
					<div class="col-xs-3">
						<div class="img-product">
			      			<img src="<%=path%>" onerror="handleError(this)">
			      		</div>
					</div>	
		      		<div class="col-xs-6 center-text">
		      			<div class="areaStyle">
			      			<span class="txtStyleName">Style:</span>&nbsp;<span class="styleName"><%=styleName%></span>
			      		</div>
			      		<div class="brand setColor"><%=brandName%></div>
			      		<div class="areaStyle">
			      			<span class="txtSize">Size:</span>&nbsp;<span class="size"><%=size%></span>
			      		</div>
		      		</div>
	    			<div class="col-xs-2  center-text">
	    				<div class="price"><%=price%></div>
	    			</div>
				</div>
            </script>
		</article>

	</section>


	<footer>
		<div class="options">
			<button class="btn btn-back setBaColor">Back</button>
			<button class="btn btn-clear-cart setBaColor">Clear All</button>
			<button class="btn btn-order setBaColor">Order</button>
		</div>
	</footer>


	<div class="validations hide">
		<div class="msg-image">
			<div class="btn btn-mini-img color3 borderc3">
				<span>&#xe650</span>
			</div>			    
		</div>
		<div class="msg-txt">
			<!-- add classes: danger, success, beside to txtMessage-->
			<p class="txtMessage">
				Validation errors occurred. Please confirm the fields and submit it again.
			</p>	
		</div>							
	</div>	

	<!-- loading block printer -->
	<div class="loader hide">
		<div class="loader-principal setBoColor">
		  <div class="segment-holder">
		    <div class="segment one setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment two setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment three setBaColor"></div>
		  </div>
		  <div class="segment-holder">
		    <div class="segment four setBaColor"></div>
		  </div>			
		</div>
	</div>
	
</body>
</html>